@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.header {
  background-color: red;
  height: 50px;
  width: 100%;
}
.main-visual {
  background-color: orange;
  height: 500px;
  width: 100%;
}
.main {
  height: 1400px;
  width: 960px;
  display: flex;
  margin: 0 auto;
}
.sidebar-right {
  background-color: lightgreen;
  width: 230px;
}
.middle {
  background-color: green;
  width: 500px;
}
.sidebar-left {
  background-color: lightgreen;
  width: 230px;
}
.footer {
  background-color: blue;
  height: 100px;
}