@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*ヘッダー*/
.header {
  text-align: center;
  padding: 20px 0;
}
.logo {
  font-size: 35px;
}
/*ナビ*/
.nav {
  border-top: gray 1px solid;
  border-bottom: gray 1px solid;
  list-style-type: none;
  text-align: center;
}
.nav-item {
  display: inline-block;
  padding: 15px 20px;
}
/*メイン*/
.main {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 50px 0;
  margin: 0 auto;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: #cdffd3;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffad
}
.box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d
}
.box9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff
}
.box10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff
}

/*フッター*/
.footer {
  background-color: gray;
  height: 120px;
  text-align: center;
  color: white;
  line-height: 140px;
}