@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img1 {
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
}
.img2 {
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
}
.img3 {
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
}
.img4 {
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
}